<h4>productos:</h4>
{{#each productos}}
    <p>Producto:{{this.producto}}</p>
    <p>Categoria:{{this.categoria}}</p>
    <p>Precio:{{this.precio}}</p>
    <p>Stock:{{this.stock}}</p></br>
    <form action="/productos/{{this._id}}" method="get">
        <button type="submit">Ver producto</button>
    </form>
    <button onclick="addToCart('{{this._id}}')">Añadir al carrito</button>
{{/each}}



<div style="display: flex; justify-content: space-between width: 100px">
        <button >Anterior</button>
    <p>{{this.paginate.page}}</p>
        <button >Siguiente</button>
</div>







<script>
    function addToCart(id) {
        fetch('/api/cart/add/646fc534e0a97f371ebd345e/' + id, {
            method: 'POST'
        }).then(function (response) {
            return response.json();
        }).then(function (data) {
            console.log(data);
            alert('Producto agregado correctamente')
        });
    }
</script>
